@font-face {
    font-family: 'playfair_displayregular';
    src: url('../font/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('../font/playfairdisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'inconsolataregular';
    src: url('../font/inconsolata-regular-webfont.woff2') format('woff2'),
         url('../font/inconsolata-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
	font-family: 'playfair_displayregular';
    font-size: 14px;
    color: #626262;
}
/* menu css*/
.navbar-brand {
	font-family: 'inconsolataregular';
    font-size: 30px;
}
.navbar-default {
    background-color: #ffffff; 
     border-color: #ffffff; 
}
@media (min-width: 1200px){
    .container {
    width: 1062px;
    }
}
.nav>li{
    margin-right: -15px;
}
.nav>li>a {
    padding: 10px 30px;
}
.navbar-right .last-menu a{
    padding-right: 0px;
}

/*main-content*/
.main-content{
    padding-left: 80px;
    padding-right: 80px;
}
.tag{
    font-size: 14px;
    text-transform: uppercase;
    color: #b4ad9e;
}
.description h3{
    margin-top: 100px;
    margin-bottom: 30px;
}
.title{
    font-size: 30px;
    margin:30px 0 35px 0;
}
.description .comment{
    margin: 50px 0 135px 0; 
}
.thumbnail{
    padding: 0px;
    border:0px;
}
.thumbnail img{
    width: 100%;

}
.col-md-6  .tag{
    margin: 30px 0 30px 0;
}
.col-md-6{
    margin-bottom: 135px;
}
/*sign up*/
.sign-up {
    background-color: #f0f0f0;
    height: 285px;
    margin-bottom: 105px;
    }
.sign-up h2{
    margin: 75px 0px 85px 0;
   
    text-align: center;
}
.sign-up .form_control{
    margin: auto;  
    background-color: #f0f0f0;
    border:none;
    width: 300px;
    border-bottom: 1px solid black;
    padding: 5px;
}
/*main-content*/
.load_more{
    width: 175px;
    height: 75px;
    border: 2px solid black;
    text-align: center;
    margin: auto;
    margin-bottom: 100px;

}
.load_more p{
    padding: 25px 35px;
    font-size: 20px;
}

.email img{
    position: absolute;
    right: 0;
    top: -12px;
    margin: auto;
}
.email{
    position: relative;
    width: 300px;
    margin: auto;
}
/*Footer*/
footer {
    background-color: #f0f0f0;
    height: 100px;
}
.panel_footer{
    
    margin-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
}
.panel_footer a{
    color: #777;
    padding: 0px 5px;  
}
@media (max-width: 515px){
    .panel_footer .col-xs-6, .panel_footer .pull-right{
        width: 100%;   
        float:left; 
    }
    .panel_footer{
    padding: 0px 40px;
    }
    .main-content{
        padding: 0px 40px;
    }

}

/*post full width*/
/*post detail*/
.post_detail img{
    margin: 50px  0;
}
.post_detail i{
    display: block;
    margin: 0 20px  30px 20px;
}
.post_detail .share a{
    color: #b4ad9e;
    margin:5px;
}
/*post_suggest*/
.post_suggest{
    background-color: #f0f0f0;

}
.post_suggest .container {
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 90px;
}
.post_suggest .container .tag{
    margin: 70px 0 50px 0 ;
}
.post_suggest .container  h3{
    font-size: 18px;
}
/*comment*/
.comment{
    padding-left: 80px;
    padding-right: 80px;
}
.quantity_comment{
    margin: 50px 0 45px 0;
}

.comment .box_comment{
    margin: 30px 0;
}
.comment .connect span{
    color: #b4ad9e;
    margin:40px;
}

.comment .connect .pull-right{
    margin: -35px 0 30px;
}


