.breadcrumb{
	margin-bottom: 10px;
	border-radius: 0;
}
.alert{
	padding: 8px;
	border-radius: 0;
}
.shopping-cart-item{
	padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e1e1e1;
}
.dropdown-menu{
	min-width: 48px;
	border-radius: 0;
}
.btn{
	border-radius: 0;
}
.name{
	font-weight: 700;
	margin-bottom: 5px;
}
.delete{
	color: #337ab7;
	line-height: 34px;
}
.price{
	color: green;
	font-weight: 700;
}
.price2 {
    color: #999;
    font-size: 12px;
    font-weight: 400;
    text-decoration: line-through;
}
.row.shopping-cart-item{
	margin-left: 0;
	margin-right: 0;
}
.fee{
	border: 1px solid #ddd;
	padding: 10px;
	
}
.fee span{
	float: right;
}
.fee p{
	margin-bottom: 13px;
}
.fee .panel-body{
	font-size: 13px;
}
.total2{
	    border-top: 2px solid green;
	    padding-top: 12px;
	    line-height: 19px;
}
.total2 span{
	    color: green;
    font-size: 19px;
}
.coupon{
	border: 1px solid #ddd;
	margin-top: 15px;
}
.coupon .panel-title{
	padding-left: 12px;
}
.panel-default>.panel-heading {
    background-color: #f7f7f7;
    }
 .coupon .btn{
 	background: green;
 	color: #fff;
 }
 .btn-success {
    color: #fff;
    background-color: green;
    border-color: #4cae4c;
}