@media (max-width: 768px) {
	.cart{
		position: absolute;
		top: -89px;
		right: 25px;
	}
	.navbar-default .navbar-toggle {
		position: absolute;
		top: -100px;
	}
	.search_box{
		padding-bottom: 10px;
		padding-top: 10px;
	}
}