
a {
	color: inherit;
	
}
.fa.fa-shopping-cart{
	color: green;
	padding-top: 5px;
}
.navbar-default .navbar-toggle {
	border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: green;
}

.logo{
	margin-top: 5px;
}
.navbar-default {
	background-color: #fff;
	border-color: #fff;
}
.panel-default>.panel-heading{
	background-color: #fff;
}
.panel-default {
	border-color: #fff; 
}
.panel-default ul{
	padding-left: 10px;
}
.panel-default ul li{
	list-style: none;
}
.panel-default ul li a{
	color: black;
}

.nav-pills>li>a{
	color: #fff;
}
.nav.navbar-nav li a{
	color: green;
}
.sign-in .nav.navbar-nav li a{
	color: #005f00;
}
.sign-in .nav.navbar-nav li a:hover{
	background: inherit;
}
/*main-content*/
.new_items .col-xs-3{
	width: 50%;
}
.new_items h2.title{
	font-size: 20px;
	color: green;
	margin-bottom: 20px;
}
.productinfo{
	padding: 15px;
}
.productinfo .product-price{
	font-size: 16px;
	font-weight: 700;
	color: green;
	
}
.productinfo .product-name{
	display: block;
	font-size: 15px;
	margin-bottom: 5px;
}
.productinfo .product-price .is-strike{
	color: #999;
	font-size: 12px;
	font-weight: 400;
	text-decoration: line-through;
}
.fa-star{
	color: #F7CD2C;
}
.fa-star-half-o{
	color: #F7CD2C;
}
.product-review{
	margin-bottom: 5px;
}
.badge{
	
	background-color: orange;
	color: #fff;


}





@media (min-width: 480px){
	.new_items .col-xs-3{
		width: 33.333333%;
	}
	.new_items h2.title{
		font-size: 24px;
		color: green;
	}
}

@media (min-width: 768px){
	/*header_top*/
	.header_top{
		background-color: #067204;
		margin-bottom: 15px;
	}
	.header_top .contactinfo ul li a{
		color: #fff;
		font-size: 12px;
	}
	.header_top .contactinfo ul li a:hover{
		background: inherit;
	}

	.social-icons ul li a{
		color: #fff;
		padding: 0px;  
	}
	.social-icons ul li a i{
		padding: 11px 15px;
	}
	.social-icons ul li a i:hover{
		color: #fff;
		transition: all 0.9s ease;
	}
	.fa-facebook:hover{
		background-color: #0083C9;
	}
	.fa-youtube-play:hover{
		background-color: #FF4518;
	}
	.fa-google-plus:hover{
		background-color: #90C9DC;
	}
	.fa-instagram:hover{
		background-color: #CE3C2D;
	}
	/*main-content*/
	
}



@media( min-width: 992px){
	.new_items .col-xs-3{
		width: 25%;
	}

}



@media (max-width: 767px) {

	.cart{
		position: absolute;
		top: -89px;
		right: 25px;
	}
	.navbar-default .navbar-toggle {
		position: absolute;
		top: -100px;
	}
	.search_box{
		padding-bottom: 10px;
		padding-top: 10px;
	}
	.btn-success{
		background-color: green;
		border-color: green;
		position: absolute;
		top: -90px;
		margin-left: 5px;
	}

	.modal-dialog{
		width: 300px;
		margin:0;
		height: 100%;
	}

	.modal-content{
		border-radius: 0;
	}
	.modal-header {
		background-color: green;
		color: #fff;
	}

	.modal-header .close{
		color: #fff;
	}
}