
/*************************
*******Header CSS******
**************************/
/*header top*/
.header_top{
  background-color: #F0F0E9;
}
.header_top .contactinfo ul li a{
  color: #696763;
  font-size: 12px;
}
.header_top .contactinfo ul li a:hover{
  background: inherit;
}

.social-icons ul li a{
  color: #696763;
  padding: 0px;  
}
.social-icons ul li a i{
  padding: 11px 15px;
}
.social-icons ul li a i:hover{
  color: #fff;
  transition: all 0.9s ease;
}
.fa-facebook:hover{
  background-color: #0083C9;
}
.fa-twitter:hover{
  background-color: #FF4518;
}
.fa-google-plus:hover{
  background-color: #90C9DC;
}
.fa-instagram:hover{
  background-color: #CE3C2D;
}
/*header middle*/

.header_middle .container .row{
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 10px;
  padding-top: 10px;
}


.shop-menu ul li a{
  color: #696763;
  font-size:15px;
}

.shop-menu ul li a:hover{
  color: orange;
  background: inherit;
  transition: all 0.5s ease;
}

.shop-menu ul li{
  display: inline-block;
}
.logo img{
  display: inline-block;
}

/*Header Bottom*/

.header_bottom {
  padding-bottom: 30px;
  padding-top: 30px;
}

.header_bottom .navbar-default{
  border: none;
  background: #fff;
}
.navbar-toggle {
  background-color: #696763;
}
.navbar-toggle .icon-bar {
  background-color: #fff;
}

.main-menu ul li a{
  font-size: 16px;
  padding: 0;
  padding-bottom: 10px;
  color: #696763;
} 
.main-menu ul li{
  padding-left: 15px;
  padding-right: 15px;
}
.main-menu ul li a:hover, .main-menu ul li a.active{
  background:none; 
  color: #fdb45e;
}

.navbar-default .navbar-nav>li>a:hover{
  color:#fdb45e;
  transition: all 0.5s ease;
}
.search_box input{
  background: #F0F0E9;
  border:none;
  color: #B2B2B2;
  font-weight: 300;
  height: 35px;
  width: 155px;
  padding-left: 10px;
  outline: medium none;
  background-image: url(../images/home/searchicon.png);
  background-repeat: no-repeat;
  background-position: 130px;
}


/*dropdown*/

.navbar-nav li ul.sub-menu { 
  background: rgba(0, 0, 0, 0.6);
  width: 220px;
  padding: 0;
  margin: 0;

}

.navbar-nav li ul.sub-menu li{
  padding: 10px 20px 0 ;
}

.navbar-nav li ul.sub-menu li:last-child{
  padding-bottom: 20px;
}

.navbar-nav li ul.sub-menu li a{
  color: #fff;
}

.navbar-nav li ul.sub-menu li a:hover{
  color: #FDB45E;
}

/*left sidebar*/
.left-sidebar h2{
  color: #FE980F;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin: 50px auto 30px;
}
.left-sidebar .panel-heading .pull-right{
  margin-top: -5px;
}
.panel.panel-default{
  border-radius: 0px;
  border-color: #fff;
}
.panel-default .panel-heading{
  background-color: #fff;
  color: #696763;
  
}

.panel-title{
  font-weight: 400;
}

.panel-body ul{
  list-style: none;
  padding-left: 15px;
}
.panel-body ul li a{
  color: #696763;
  font-weight: 300;

}
.panel{
  box-shadow: none;
}
.category-products{
  border: 1px solid #F7F7F0;
}

.panel-body ul li a{
  text-transform: uppercase;
}








