/* lg */ 
@media (min-width: 1200px) {

}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {


}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {



}

/* xs */
@media (max-width: 767px) {
	.header_top .col-sm-6:first-child{		
		
		float: left;
	}

	.header_top .col-sm-6:last-child{
		
		float: right;
	}
	.social-icons ul li a i {
		padding: 10px 10px;
	}
	.contactinfo .nav>li>a{
		padding: 10px 10px;
	}
	.shop-menu .pull-right{
		float: none !important;
	}
	.shop-menu{
		text-align: center;
	}
	.logo{
		text-align: center;
	}
	.shop-menu .navbar-nav{
		margin: 15.5px -15px;
	}

}

/* XS Portrait */
@media (max-width: 480px) {	
	.header_top .col-sm-6:first-child{

		float: none;
	}

	.header_top .col-sm-6:last-child{
		
		float: none;
	}

	.contactinfo .nav.nav-pills, .social-icons .nav.nav-pills{
		display: inline-block;
	}	
	.social-icons .pull-right{
		float: none !important;
		
	}
	.contactinfo{
		text-align: center;
	}

	.social-icons{
		text-align: center;
	}
	.shop-menu .nav>li>a{
		padding: 3px;
	}	
	
}